<ion-content class="login-page" [fullscreen]="true">
  <div class="login-wrapper">
  <div class="login-container">
   
    <img src="assets/img/escudo/Relieve.png" alt="Logo" class="logo">
    
    <h1 class="login-title">Inicio de sesión</h1>

    <ion-item class="login-item" lines="none">
      <ion-label position="stacked" style="margin-bottom: 10px;">Correo</ion-label>
      <ion-input [(ngModel)]="email" type="email" fill="full" class="login-input"></ion-input>
    </ion-item>

    <ion-item class="login-item" lines="none">
      <ion-label position="stacked" style="margin-bottom: 10px;">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" fill="full" class="login-input"></ion-input>
    </ion-item>

    
    <ion-button expand="block" class="btn-primary" (click)="login()" (keyup.enter)="login()">
      Entrar
    </ion-button>
  

    <ion-button expand="block" fill="clear" class="btn-secondary" (click)="goToRegister()">
      Regístrate
    </ion-button>
    </div>
  </div>
</ion-content>
