.login-page {
    --background: #0F172A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --color: #f0ecec;
}

.login-title {
    text-transform: uppercase;
  text-align: start;
  font-size: 28px;
  font-weight: bold;
  color: #f0ecec; 
  margin-bottom: 20px;
}


.login-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}



.login-item {
    
    --background: #0F172A;
    --color: #f0ecec;
    font-size: 1.2rem;
    max-width: 100%;
    width: 100%;
}


.logo {
    width: 150px;
    margin-bottom: 30px;
}

.login-input {
    --border-width: 2px;
    max-width: 100%;
    width: 100%;
    --background: #fff;
    display: flex;
    color: #333;
    --padding-start: 15px;
    --padding-end: 15px;
    font-size: 16px;
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    --min-height: 45px;
    --height: 45px;
    --border-radius: 4px;
    --border-style: none; /* Sin borde por defecto */
  --border-color: transparent;
}

.ion-valid.sc-ion-input-md-h {
    --highlight-color: rgb(224, 138, 40);
}

.btn-primary {
    margin-top: 10px;
    --background: #f0ecec;
    --color: #0F172A;
    font-weight: bold;
    max-width: 100%;
    width: 90%;
}

.btn-secondary {
    --color: #f0ecec;
    --border-color: #f0ecec;
    background-color: rgb(224, 138, 40);
    border-radius: 4px;
    height: 36px;
    font-weight: bold;
    max-width: 100%;
    width: 90%;
}



